<div class="home-main-container">
  <div class="home-card-container">
    <div class="home-descripton-container">
      <h1 class="home-heading">Secure, smart, and easy to use the Tool</h1>
      <p>Get more done with Tool. Now integrated with Tool Chat, Tool Meet, and more, all in one place.</p>
      <div>
        <button class="get-more-about-button">Get more about tool </button>
      </div>
    </div>
    <div class="home-image-container">
    </div>
  </div>
</div>